.bg-password-image {
  background: url("https://images.unsplash.com/photo-1553413077-190dd305871c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-position: center;
  background-size: cover;
}

.text-gray-900 {
  margin-top: 10px !important;
}

.mt{
  margin-top: 80px;
}

