<div class="container">
  <div class="row2 justify-content-center">
    <div class="image-block bg-password-image"></div>

    <div class="right-block">
      <div *ngIf="!this.done; then showFormInput else showSuccess"></div>

      <ng-template #showFormInput>
        <h1 class="text-gray-900 mb-2 text-center">New Password</h1>
        <p class="mb-2 text-center">Just enter your new password and confirm it!</p>
        <form class="form-block mb-4" #data="ngForm" (ngSubmit)="resetPassword(data.value)">

          <div class="form-group">
            <input ngModel type="password"
                   class="input-field"
                   name="password"
                   placeholder="Enter new password..."
                   #newPassword
                   [type]="hidePassword ? 'password' : 'text'"
                   required>
          </div>

          <div class="form-group">
            <input ngModel
                   type="password"
                   class="input-field"
                   name="repeatedPassword"
                   placeholder="Repeat password..."
                   pattern="{{newPassword.value}}"
                   #repeatedPassword
                   [type]="hidePassword ? 'password' : 'text'"
                   required>
          </div>

          <i class="fa field-icon"
             (click)="hidePassword = !hidePassword"
             [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
             aria-hidden="true"></i>

          <!--validation-->
          <div class="alert-danger center">
            {{userErrors['data']}}
          </div>
          <div *ngIf="repeatedPassword.validity.patternMismatch" class="alert-danger text-center">
            Passwords don't match.
          </div>

          <div>
            <button type="submit" class="btn" [disabled]="isButtonDisable(data.value)" *ngIf="!load"> Save password
            </button>
            <div class="loader" *ngIf="load"></div>
          </div>

          <hr>
        </form>
      </ng-template>

      <ng-template #showSuccess>
        <div class="text-center mt">
          <h1 class="text-gray-900">Success!</h1>
          <p class="mb-2">
            Your password has been successfully updated!<br>
            Please, follow to login page and continue work with us!<br>
            Thanks a lot for cooperation!
          </p>
        </div>
        <hr>
      </ng-template>

      <div class="text-center">
        <a class="small" routerLink="/forgot-password">Send a reset message again!</a>
      </div>
      <div class="text-center">
        <a class="small" routerLink="/sign-in">Login page!</a>
      </div>
    </div>
  </div>
</div>

