<div class="container">
  <div class="row justify-content-center">
    <div class="image-block bg-password-image"></div>

    <div class="right-block">
      <h1 class="text-gray-900 mb-2 text-center">New Password</h1>
      <div *ngIf="!this.done; then showFormInput else showSuccess"></div>

      <ng-template #showFormInput>
        <p class="mb-4 text-center">Just enter your new password!</p>
        <form class="form-block" [formGroup]="resetPasswordForm"
              (ngSubmit)="onSubmit(resetPasswordForm.value.password)">
          <div class="form-group">
            <input type="email" class="input-field" formControlName="newPassword" placeholder="Enter new password..."
                   required #newPassword>
          </div>
          <div class="form-group">
            <input type="email" class="input-field" formControlName="repeatedPassword" placeholder="Repeat password..."
                   required pattern="{{newPassword.value}}" #repeatedPassword>
          </div>
          <div *ngIf="repeatedPassword.validity.patternMismatch" class="alert-danger">Passwords don't match.</div>
          <div *ngIf="repeatedPassword.validity.valueMissing" class="alert-danger">Please confirm the password.</div>
          <div *ngIf="!await; else showAwaitMsg">
            <button type="submit" class="btn"> Save password</button>
          </div>

          <hr>
          <ng-template #showAwaitMsg>
            Processing...
          </ng-template>
        </form>
      </ng-template>
      <ng-template #showSuccess>
        <h2>Success!</h2>
        <br>
        Your password has been successfully updated!
      </ng-template>

      <div class="text-center">
        <a class="small" href="sign-up">Create an Account!</a>
      </div>
      <div class="text-center">
        <a class="small" href="sign-in">Already have an account? Login!</a>
      </div>
    </div>
  </div>
</div>

