.container {
  width: 900px !important;
  height: 540px !important;
}

.bg-login-image {
  background: url("https://obj.ca/sites/default/files/styles/article_main/public/2019-11/iStock-1126931828.jpg?itok=f1EJFSYe");
  background-position: center;
  background-size: cover;
}

.image-block {
  height: 540px !important;
  width: 450px !important;
}

.right-block{
  margin: 50px 20px 0 20px ;
  width: 450px !important;
}
