.container {
  width: 900px !important;
  height: 540px !important;
}

.bg-login-image {
  background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
  background-position: center;
  background-size: cover;
}

.image-block {
  height: 540px !important;
  width: 450px !important;
}

.right-block{
  margin: 50px 20px 0 20px ;
  width: 450px !important;
}
