<div class="container">
  <div class="row2 justify-content-center">
    <div class="image-block bg-login-image"></div>

    <form class="right-block" #data="ngForm" (ngSubmit)="signIn(data.value)">
      <h1 class="text-gray-900 text-center">Login!</h1>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" ngModel name="username"
               [ngClass]="{'is-invalid': userErrors['username']}" id="username" placeholder="Email" required>
        <div class="alert-danger">
          {{userErrors['username']}}
        </div>
      </div>

      <div class="input-container">
          <span id="password-icon">
            <i class="fa fa-2x icon" aria-hidden="true" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
               (click)="hidePassword = !hidePassword"></i>
          </span>
        <input ngModel name="password" class="input-field" [type]="hidePassword ? 'password' : 'text'"
               [ngClass]="{'is-invalid': userErrors['password']}" id="password" placeholder="Password" required>
        <div class="alert-danger">
          {{userErrors['password']}}
        </div>
      </div>

      <button type="submit" class="btn">Login</button>

      <hr>
      <a href="index.html" class="btn btn-google btn-user btn-block">
        <i class="fa fa-google fa-fw"></i> Login with Google
      </a>
      <a href="index.html" class="btn btn-facebook btn-user btn-block">
        <i class="fa fa-facebook-f fa-fw"></i> Login with Facebook
      </a>

      <hr>
      <div style="text-align:center">
        <a class="small" href="forgot-password">Forgot Password?</a>
      </div>
      <div style="text-align:center">
        <a class="small" href="sign-up">Create an Account!</a>
      </div>
    </form>
  </div>
</div>
