<table class="table table-striped table-responsive-md btn-table">
  <thead>
  <th>Name</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Additional Info</th>
  <th>Type</th>
  <th >Address</th>
  <th>Action</th>
  </thead>


  <tbody *ngFor="let associate of page$.content; index as i">
  <tr>
    <td>{{i+1 + page$.number * page$.size}}</td>
    <td>{{associate.name}}</td>
    <td>{{associate.email}}</td>
    <td>{{associate.phone}}</td>
    <td>{{associate.additionalInfo}}</td>
    <td>{{associate.type}}</td>
    <td>{{associate.addressDto.city}}, {{associate.addressDto.address}}</td>
    <td>
<!--      <button (click)="updateAssociate(associate.id)" class='btn btn-info'-->
<!--              data-toggle="modal" data-target="#myModal">Update</button>-->
      <button (click)="deleteAssociate(associate.id)" class='btn btn-primary'>
        <i class="fa fa-futboll-0">Delete</i>
      </button>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="7">
      <div class="links">
        <button (click)="setPage(-page$.number)" [disabled]="page$.first">&laquo;&laquo;</button>
        <button (click)="setPage(-1)" [disabled]="page$.first">&laquo;</button>

        <span>{{page$.number + 1}} of {{page$.totalPages}}</span>
        <button (click)="setPage(+1)" [disabled]="page$.last">&raquo;</button>
        <button (click)="setPage(page$.totalPages - page$.number - 1)" [disabled]="page$.last">&raquo;&raquo;</button>
        <span id="pageSize">
          Elements on page:
          <select (change)="getAssociates()" [(ngModel)]="page$.size">
            <option *ngFor="let size of pageSizeOptions" value="{{size}}">{{size}}</option>
          </select>
        </span>
      </div>
    </td>
  </tr>
  </tfoot>
</table>

