.nav {
  margin-top: 10px;
}

.header {
  font-size: 23px;
}

.button-left {
  margin-left: 550px;
}

.border-none{
  border: none;
  padding-left: 0px !important;
  background-color: white;
}

.icon{
  width: 30px;
  color: red;
  margin-left: 540px;
  margin-top: 0px;
  padding-bottom: 0px;
}


