<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" >Item Name {{itemTransactionRequest.item.name}}</h6>
  </div>
  <div class="row">
  <div class="form-group col-sm-3">
  <label for="name">Supplier:</label>
  <input type="text" [(ngModel)]="itemTransactionRequest.associateId" name="name" class="form-control" id="name">
  <label for="unit">Quantity:</label>
  <input type="text" [(ngModel)]="itemTransactionRequest.quantity" name="unit" class="form-control" id="unit">
  <label for="description">Warehouse:</label>
  <input type="text" [(ngModel)]="itemTransactionRequest.destinationWarehouseId" name="description" class="form-control" id="description">
  <button (click)="addSavedItem()" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
    <span class="text text-white-50">Add SavedItem</span>
  </button>
</div>
</div>
</div>
