<h3>Create Warehouse</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="warehouse.name" name="name">
    </div>
    <div class="form-group">
      <label for="info">Info</label>
      <input type="text" class="form-control" id="info" required [(ngModel)]="warehouse.info" name="info">
    </div>
    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input type="text" class="form-control" id="capacity" required [(ngModel)]="warehouse.capacity" name="capacity">
    </div>
    <div class="form-group">
      <label for="isBottom">isBottom</label>
      <input type="text" class="form-control" id="isBottom" required [(ngModel)]="warehouse.isBottom" name="isBottom">
    </div>
    <div class="form-group">
      <label for="parentId">parentId</label>
      <input type="text" class="form-control" id="parentId" required [(ngModel)]="warehouse.parentId" name="parentId">
    </div>
    <div class="form-group">
      <label for="accountId">accountId</label>
      <input type="text" class="form-control" id="accountId" required [(ngModel)]="warehouse.accountId" name="accountId">
    </div>
    <div class="form-group">
      <label for="topWarehouseID">topWarehouseID</label>
      <input type="text" class="form-control" id="topWarehouseID" required [(ngModel)]="warehouse.topWarehouseID" name="topWarehouseID">
    </div>
    <div class="form-group">
      <label for="active">active</label>
      <input type="text" class="form-control" id="active" required [(ngModel)]="warehouse.active" name="active">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
