<h3>Create Warehouse</h3>
<div style="left: 30px">
  <form>

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="warehouse.name" #name="ngModel" required
             placeholder="Enter warehouse name"/>
    </div>
    <div class="form-group">
      <label for="info">Info</label>
      <input type="text" class="form-control" id="info" required [(ngModel)]="warehouse.info" name="info"
             placeholder="Enter additional information">
    </div>

    <div class="col" >
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select top warehouses</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let warehouse of topList" (click)="setTopWarehouse(warehouse)" ngbDropdownItem>{{warehouse}}</button>
        </div>
      </div>
      <br>
      Top warehouse - <span id="topWarehouse" *ngIf="warehouse.topWarehouseID != null">{{selectedTopWarehouse}}</span>
    </div>
    <div class="col" *ngIf="warehouse.topWarehouseID != null">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Select parent warehouse</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button  *ngFor="let warehouse of childrenList" (click)="setParentWarehouse(warehouse)" ngbDropdownItem>{{warehouse}}</button>
        </div>
      </div>
      <br>
      Parent - <span *ngIf="warehouse.parentID != null">{{selectedParentWarehouse}}</span>
      <br>
    </div>
    <div class="form-group">
      <label for="capacity1">Capacity</label>
      <input type="text" class="form-control" id="capacity1" required [(ngModel)]="warehouse.capacity" name="capacity1"
             placeholder="Enter capacity" pattern="[0-9]*">
    </div>
    <div class="form-group">
      <label>
        <input [(ngModel)]="warehouse.isBottom" type="checkbox" data-toggle="toggle">Bottom
      </label>
    </div>
    <br>

    <div *ngIf="warehouse.topWarehouseID == warehouse.id; then thenTop "></div>
    <ng-template #thenTop>
      <label>Address</label>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" required
               [(ngModel)]="warehouse.addressDto.country"
               name="address">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" required [(ngModel)]="warehouse.addressDto.city"
               name="city">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" required
               [(ngModel)]="warehouse.addressDto.address"
               name="address">
      </div>
      <div class="form-group">
        <label for="zip">ZIP</label>
        <input type="text" class="form-control" id="zip" required [(ngModel)]="warehouse.addressDto.zip"
               name="zip">
      </div>
    </ng-template>

    <button (click)="onSubmit()" type="submit" style="margin: 5px" class="btn btn-success">Submit</button>
    <br>

  </form>
    <a (click)=back() class="btn btn-dark" style="margin: 5px">
                    <span class="icon text-blue-50 ">
                      <i class="fas fa-backward"></i>
                    </span>
      <span class="text">Back</span>
    </a>
</div>

