<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">Warehouses</h3>

    <a href="home/(nav:warehouse-create)" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
      <span class="text">Add new Warehouse</span>
    </a>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="dataTable_length">
              <label>Show <select (change)="getWarehouses()" [(ngModel)]="page$.size"
                                  name="dataTable_length"
                                  aria-controls="dataTable"
                                  class="custom-select custom-select-sm form-control form-control-sm">
                <option *ngFor="let size of pageSizeValue" value="{{size}}">{{size}}</option>
              </select> entries</label></div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-bordered btn-">
              <thead>
              <tr>
                <th >Name</th>
                <th >Information</th>
                <th >Capacity</th>
                <th style="width: 25%">Address</th>
                <th>Action</th>
              </tr>
              </thead >
              <tbody  *ngFor="let warehouse of page$.content; index  as i">
              <tr >
                <td>{{warehouse.name}}</td>
                <td>{{warehouse.info}}</td>
                <td>{{warehouse.capacity}}</td>
                <td>{{warehouse.addressDto}}</td>
                <td>
                  <button (click)="editWarehouse(warehouse.id)" class='btn btn-info'
                          data-toggle="modal" data-target="#myModal">Update
                  </button>
                  <button (click)="deleteWarehouse(warehouse.id)" class='btn btn-danger'>Delete</button>
                </td>

              </tr>
              </tbody>

            </table>
          </div>
        </div>
        <div class="row">
          <ngb-pagination
            [collectionSize]="page$.totalElements" [(page)]="page" [pageSize]="page$.size" [maxSize]="3"
            [rotate]="true" [boundaryLinks]="false"
            (pageChange)="getWarehouses()">
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
