<div class="card shadow mb-4">

  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Move SavedItem</h6>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="text" [(ngModel)]="itemTransactionRequest.quantity" name="quantity" class="form-control" id="quantity">
          <p>
            <select class="custom-select" style="width: auto" name="pageSize"  [(ngModel)]="itemTransactionRequest.destinationWarehouseId">
              <option *ngFor="let warehouseModel of warehouses" [ngValue]="warehouseModel.id">{{warehouseModel.name}}</option>
            </select>
            <button (click)="findUsefulWarehouses()" class="btn btn-info" style="margin-left: 10px">Update</button>
          </p>
          <button (click)="moveSavedItem()" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
            <span class="text text-white-50">Move SavedItem</span>
          </button>
          <p *ngIf="done" class="bg-success">Move SavedItem - Done</p>
        </div>
      </form>
    </div>

  </div>
</div>
