<form>
  <h2 style="text-align:center">Create an Account!</h2>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" [(ngModel)]="user.first_name" placeholder="First Name" name="firstName"required>
  </div>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" [(ngModel)]="user.last_name" placeholder="Last Name" name="lastName" required>
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" [(ngModel)]="user.email" placeholder="Email" name="email" required>
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" [(ngModel)]="user.password" placeholder="Password" name="psw" required>
  </div>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" [(ngModel)]="user.accountName" placeholder="Account Name" name="accountName" required>
  </div>



  <button type="submit" class="btn" (click)="createUser()">Register Account </button>

  <div style="text-align:center">
    <a class="small" href="user-forgot-password">Forgot Password?</a>
  </div>
  <div style="text-align:center">
    <a class="small" href="user-signin">Already have an account? Login!</a>
  </div>
</form>
