<div class="container">
  <div class="row2 justify-content-center">
    <div class="image-block bg-register-image"></div>

    <div class="right-block">
      <form #data="ngForm" (ngSubmit)="createUser(data.value)">
        <h1 class="text-gray-900 text-center">Create an Account!</h1>

        <div class="row2 ">
          <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input ngModel class="input-field" type="text" placeholder="First Name" name="firstName" required>
          </div>
          <div class="input-container">
            <input ngModel class="input-field" type="text" placeholder="Last Name" name="lastName" required>
          </div>
        </div>

        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input ngModel class="input-field" type="email" placeholder="Email" name="email" required
                 [ngClass]="{'is-invalid': userErrors['email']}">
        </div>
        <div class="alert-danger">
          {{userErrors['email']}}
        </div>

        <div class="row2">
          <div class="input-container">
            <i class="fa fa-2x icon" (click)="hidePassword = !hidePassword"
               [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
            <input ngModel class="input-field" placeholder="Password" name="password"
                   required [type]="hidePassword ? 'password' : 'text'"
                   [ngClass]="{'is-invalid': userErrors['password']}"
                   #password>
          </div>
          <div class="input-container">
            <input ngModel class="input-field" placeholder="Repeated Password" name="repeatedPassword"
                   required [type]="hidePassword ? 'password' : 'text'"
                   [ngClass]="{'is-invalid': userErrors['password']}"
                   required pattern="{{password.value}}" #repeatedPassword>
          </div>
        </div>
        <div class="alert-danger">
          {{userErrors['password']}}
        </div>

        <div class="input-container">
          <i class="fa fa-home icon"></i>
          <input ngModel class="input-field" type="text" placeholder="Account Name"
                 name="accountName" required>
        </div>
        <div class="alert-danger">
          {{userErrors['form-structure']}}
        </div>
        <div *ngIf="repeatedPassword.validity.patternMismatch" class="alert-danger">Passwords don't match.</div>
        <button type="submit" class="btn">Register Account</button>

        <hr>
        <div style="text-align:center">
          <a class="small" href="forgot-password">Forgot Password?</a>
        </div>
        <div style="text-align:center">
          <a class="small" href="sign-in">Already have an account? Login!</a>
        </div>
      </form>
    </div>
  </div>
</div>
