td {
  width: 13%;
  max-width: 13%;
}

.messageTd {
  width: 25%;
}

.transactionTd {
  width: 21%;
}

.transactionInfo {
  background: transparent;
  color: #2d2e33;
}

ng-multiselect-dropdown {
  width: auto;
  max-height: 30px;
}

.datepicker {
  max-width: 170px;
  max-height: 28px;
}

.sizeList {
  max-width: 100px;
}

.sortList {
  max-width: 180px;
}

