<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Items Table</h6>
  </div>
  <a href="/home/(nav:create-item)" routerLinkActive="active" class="nav-link active">
    <span>Add Item</span></a>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
  <th><i sortable [sortValue]="sortValues[0]" (sortEvent)="sort($event)">Name</i></th>
  <th><i sortable [sortValue]="sortValues[1]" (sortEvent)="sort($event)">Unit</i></th>
  <th><i sortable [sortValue]="sortValues[2]" (sortEvent)="sort($event)">Description</i></th>
  <th><i sortable [sortValue]="sortValues[3]" (sortEvent)="sort($event)">Volume</i></th>
  </thead>
  <tbody>
  <tr *ngFor="let item of items.content">
    <td>{{item.name}}</td>
    <td>{{item.unit}}</td>
    <td>{{item.description}}</td>
    <td>{{item.volume}}</td>
    <td><a href ="/home/(nav:create-savedItem/{{item.id}}/{{item.name}}/{{item.unit}}/{{item.description}}/
{{item.volume}}/{{item.accountId}}/{{item.active}}" routerLinkActive="active" class="nav-link active"><i class="fas fa-plus"></i></a>
    </td>
    <td><a href="/home/(nav:create-item)" routerLinkActive="active" class="nav-link active"><i class="fas fa-minus"></i></a></td>
  </tr>
  </tbody>
  <tfoot>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="items.totalElements" [(page)]="page" [pageSize]="items.size" (pageChange)="onPaginate()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize"  [(ngModel)]="size" (click)="onPaginate()">
      <option *ngFor="let item of [].constructor(items.totalElements); let i = index" [ngValue]="i+1">{{i+1}} items on page</option>
    </select>
  </div>
  </tfoot>
</table>
</div>
  </div>
</div>
