<div *ngIf="load1&&load2&&load3&&load4; then thenBlock1 else elseBlock1"></div>
<ng-template #thenBlock1>
  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card shadow mb-4" style="max-height: 405px">

            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Warehouses load</h6>
            </div>

            <div class="card-body" style="overflow: auto;">
              <div *ngFor="let load of warehouseLoad$">
                <h6 style="margin-bottom: 10px; float: left; width: 50%;">
                  <a (click)="isPremium && loadPremium ? premiumId=load.id : null;
                              isPremium && loadPremium ? getPremiumLoad(premiumId) : null"
                     style="cursor: pointer;"
                     [style.background]="premiumId==load.id ? 'LightCyan' : ''">
                    {{load.name}}
                  </a>
                </h6>
                <h6 style="margin-bottom: 10px; float: left; width: 50%;text-align: right;"> {{load.charge}}/{{load.capacity}}</h6>
                <div style="clear: left"></div>
                <ngb-progressbar [type] = "lessThan25(load.charge/load.capacity*100) ? 'success':
                                         lessThan50(load.charge/load.capacity*100) ? 'info':
                                         lessThan75(load.charge/load.capacity*100) ? 'warning': 'danger'"
                                 [value] ="isZero(load.capacity) ? 0 : toNum((load.charge/load.capacity*100).toFixed())">
                <span style="font-size: 20px; margin-top: 18px">
                  {{(load.charge/load.capacity*100).toFixed()}}%
                </span>>
                </ngb-progressbar>
                <br>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card shadow mb-4" style="max-height: 405px">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Advanced load</h6>
            </div>

            <div class="card-body" style="overflow: auto; height: 405px;">

              <div *ngIf="premiumLoad$!=null && isPremium && loadPremium; then thenBlock2 else elseBlock2"></div>
              <ng-template #thenBlock2>
                <ng-template #nodeTemplateRef let-node>
                  <div class="node">
                    <div style=" color: blue; cursor: pointer;">
                      {{ node.name }}
                    </div>
                    <div style="width:100px; margin-block: 0; padding-block: 0">
                      <ngb-progressbar height="15px"
                                       [showValue]="true"
                                       [type] = "lessThan25(node.charge/node.capacity*100) ? 'success':
                                               lessThan50(node.charge/node.capacity*100) ? 'info':
                                               lessThan75(node.charge/node.capacity*100) ? 'warning': 'danger'"
                                       [value]= "isZero(node.capacity) ? 0 : toNum((node.charge/node.capacity*100).toFixed())">
                      </ngb-progressbar>
                    </div>
                    <div *ngIf="node.childs.length"  style="border-left: 3px solid dodgerblue;
                                                          margin: 5px 0 5px 30px ;
                                                          padding-left: 10px ;">
                      <ng-template
                        ngFor
                        [ngForOf]="node.childs"
                        [ngForTemplate]="nodeTemplateRef">
                      </ng-template>
                    </div>
                  </div>
                </ng-template>
                <ng-template
                  [ngTemplateOutlet]="nodeTemplateRef"
                  [ngTemplateOutletContext]="{ $implicit: premiumLoad$ }">
                </ng-template>
              </ng-template>

              <ng-template #elseBlock2>
                <div *ngIf="isPremium; then thenBlock3 else elseBlock3"></div>
              </ng-template>

              <ng-template #thenBlock3>
                <div *ngIf="loadPremium; then thenBlock4 else elseBlock4"></div>
              </ng-template>

              <ng-template #thenBlock4>
                <div style="height: 100px"></div>
                <h3 style="text-align: center"> <-- Choose warehouse!</h3>
              </ng-template>

              <ng-template #elseBlock4>
                <div id="floatingBarsG">
                  <div class="blockG" id="rotateG_01"></div>
                  <div class="blockG" id="rotateG_02"></div>
                  <div class="blockG" id="rotateG_03"></div>
                  <div class="blockG" id="rotateG_04"></div>
                  <div class="blockG" id="rotateG_05"></div>
                  <div class="blockG" id="rotateG_06"></div>
                  <div class="blockG" id="rotateG_07"></div>
                  <div class="blockG" id="rotateG_08"></div>
                </div>
              </ng-template>

              <ng-template #elseBlock3>
                <div style="height: 100px"></div>
                <h3 style="text-align: center; vertical-align: middle">
                  <a href="http://localhost:4200/home/(nav:upgrade)"> Upgrade your account now</a>
                </h3>
              </ng-template>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary" style="height: 24px; vertical-align: center">Shortage of items</h6>
            </div>
            <div class="card-body" style="padding-bottom: 5px">
              <div class="row" style="padding-bottom: 10px">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length">
                    <label>Show
                      <select name="dataTable_length"
                              class="plain"
                              aria-controls="dataTable"
                              [(ngModel)]="page$.size"
                              (change)="getEndingItemsPage()">
                        <option *ngFor="let size of pageSizeOptions" value="{{size}}">{{size}}</option>
                      </select> entries
                    </label>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_filter">
                <span class="float-right"> Maximum quantity:
                  <input type="number"
                         style="border: 0; width: 40px;
                         background-color: white"
                         [(ngModel)]="minQuantity" (change)="getEndingItemsPage()">
                </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable"
                         role="grid"
                         aria-describedby="dataTable_info"
                         style="width: 100%;">
                    <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Warehouse</th>
                      <th scope="col" style="cursor: pointer;"
                          (click)="change();getEndingItemsPage()"> Quantity{{arrow}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of page$.content">
                      <td>{{item.itemName}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.quantity}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ngb-pagination class="d-flex justify-content-end"
                              [collectionSize]="page$.totalElements"
                              [(page)]="page"
                              [pageSize]="page$.size"
                              [maxSize]="5"
                              [rotate]="true"
                              [boundaryLinks]="true"
                              [ellipses]="false"
                              (pageChange)="getEndingItemsPage()">
              </ngb-pagination>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <select class="m-0 font-weight-bold text-primary"
                      style="border: 0; background-color: #f8f9fc; font-size: 16px"
                      (change)="getPopularItems()"
                      [(ngModel)]="popularRequest.popType">
                <option selected value="TOP">Popular items</option>
                <option value="BOT">Unpopular items</option>
              </select>
            </div>
            <div class="card-body" style="padding-bottom: 5px" (change)="getPopularItems()">
              <div class="row">
                <div class="col-sm-12">
                  <table border="0px" width="100%" style="margin-bottom: 5px"
                         role="grid"
                         aria-describedby="dataTable_info">
                    <tbody>
                    <tr>
                      <td>
                        <label>Show
                          <select name="dataTable_length"
                                  aria-controls="dataTable"
                                  class="plain"
                                  [(ngModel)]="popularState.pageSize"
                                  (change)="getPopularItems()">
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="6">6</option>
                          </select> entries
                        </label>
                      </td>
                      <td>
                        <label>
                          Filter by date:
                          <select [(ngModel)]="popularRequest.dateType">
                            <option selected value="ALL">For all time</option>
                            <option value="YEAR">For year</option>
                            <option value="MONTH">For month</option>
                          </select>
                        </label>
                      </td>
                      <td>
                        <label>
                          Quantity of items:
                          <input type="number"
                                 style="border: 0; width: 40px;
                               background-color: white"
                                 [(ngModel)]="popularRequest.quantity" (change)="getPopularItems()">
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <table border="0px" width="100%" style="margin-bottom: 5px"
                         role="grid"
                         aria-describedby="dataTable_info">
                    <tbody>
                    <tr>
                      <td  width="50%">
                        <label *ngIf="popularRequest.dateType=='YEAR'"
                               style="padding-left: 65%; padding-right: 0px"
                               (change)="getPopularItems()">
                          <span class="float-right">Choose year: </span>
                        </label>
                        <label *ngIf="popularRequest.dateType=='MONTH'"
                               style="padding-left: 40%; padding-right: 0px"
                               (change)="getPopularItems()">
                          <span class="float-right">Choose month and year: </span>
                        </label>
                      </td>

                      <td width="50%" (change)="getPopularItems()">
                        <label *ngIf="popularRequest.dateType=='YEAR'" (change)="setDate()"
                               style="padding-left: 0px">
                          <select [(ngModel)]="year">
                            <option value="2016" selected>2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                          </select>
                        </label>
                        <label *ngIf="popularRequest.dateType=='MONTH'" (change)="setDate()"
                               style="padding-left: 0px">
                          <select [(ngModel)]="month">-->
                            <option selected value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                          <select [(ngModel)]="year" >
                            <option selected>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                          </select>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable"
                         role="grid"
                         aria-describedby="dataTable_info">
                    <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of popularItems$">
                      <td>{{item.name}}</td>
                      <td>{{item.quantity}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ngb-pagination class="d-flex justify-content-end"
                              [collectionSize]="popularState.collectionSize"
                              [(page)]="popularState.page"
                              [pageSize]="popularState.pageSize"
                              [maxSize]="5"
                              [rotate]="true"
                              [boundaryLinks]="true"
                              [ellipses]="false"
                              (pageChange)="getPopularItems()">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock1>

  <div class="cssload-loader">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
  <div style="vertical-align: center; height: 300px"></div>

</ng-template>
