<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a routerLink="/" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-adversal"></i>
      </div>
      <div class="sidebar-brand-text mx-3">ims</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">User management</div>
    <!-- Nav Item - User feature 1 -->
    <li class="nav-item">
      <a routerLink="/users/f1" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-user-circle"></i>
        <span>User feature 1</span></a>
    </li>
    <!-- Nav Item - User feature 2 -->
    <li class="nav-item">
      <a routerLink="/users/f2" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-user-edit"></i>
        <span>User feature 2</span></a>
    </li>
    <!-- Nav Item - User feature 3 -->
    <li class="nav-item">
      <a routerLink="/users/f3" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-user-clock"></i>
        <span>User feature 3</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Organization management</div>
    <!-- Nav Item - Organization -->
    <li class="nav-item">
      <a routerLink="/organization" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-accessible-icon"></i>
        <span>Organization</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Warehouse management</div>
    <!-- Nav Item - Warehouses -->
    <li class="nav-item">
      <a [routerLink]="[{outlets: {nav: ['warehouses']}}]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-warehouse"></i>
        <span>Warehouses</span></a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[{outlets: {nav: ['warehouse-create']}}]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-warehouse"></i>
        <span>Warehouse create</span></a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[{outlets: {nav: ['warehouse-update']}}]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-warehouse"></i>
        <span>Warehouse update</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">Item management</div>
    <!-- Nav Item - Items -->
    <li class="nav-item">
      <a [routerLink]="[{ outlets: { nav: ['item-table'] } }]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-table"></i>
        <span>Items</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Event management</div>
    <!-- Nav Item - Events -->
    <li class="nav-item">
      <a [routerLink]="[{ outlets: { nav: ['events'] } }]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Events</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Associate management</div>
    <!-- Nav Item - Associates -->
    <li class="nav-item">
      <a routerLink="/associates" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-arrow-circle-up"></i>
        <span>Associates</span></a>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Premium features</div>
    <!-- Nav Item - Warehouse Advice -->
    <li class="nav-item">
      <a [routerLink]="[{ outlets: { nav: ['warehouse-advice'] } }]" routerLinkActive="active" class="nav-link active">
        <i class="fas fa-fw fa-network-wired"></i>
        <span>Warehouse Advice</span>
      </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>
              <img class="img-profile rounded-circle" src="../favicon.ico">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a routerLink="/profile" class="dropdown-item">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" (click)="openLogout(content)" >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <router-outlet name="nav"></router-outlet>
      <!-- End Page Content -->
    </div>

    <!-- Main Content -->
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#wrapper" style="display: none;">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"  (click)="modalRef.close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modalRef.close()" type="button" data-dismiss="modal">Cancel</button>
        <a routerLink (click)="logout()" class="btn btn-primary">Logout</a>
      </div>
</ng-template>
