<div class="container">
  <div class="row2 justify-content-center">
    <div class="image-block bg-password-image"></div>

    <div class="right-block">
      <div *ngIf="!this.done; then showMailInput else showSuccess"></div>
      <ng-template #showMailInput>
        <div class="text-center">
          <h1 class="text-gray-900 mb-2">Forgot Your Password?</h1>
          <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to
            reset your password!</p>
        </div>
        <form class="form-block" #data="ngForm" (ngSubmit)="forgotPassword(data.value)">
          <div class="input-container">
            <input ngModel type="email" class="input-field" name="email" placeholder="Enter Email Address..."
                   required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
          </div>
          <div *ngIf="!data.valid && data.touched" class="alert-danger">Email must be a valid email address</div>
          <div class="alert-danger center">
            {{userErrors['email']}}
          </div>
          <button type="submit" class="btn" [disabled]="!data.valid">Send</button>
          <hr>
        </form>
      </ng-template>
      <ng-template #showSuccess>
        <div class="text-center">
          <h1 class="text-gray-900 mb-2">Email sent!</h1>
          <p class="mb-4">
            Wonderful! An email with password reset instructions has been sent to the current address.
            Please, check your inbox and follow the instructions to reset your password.</p>
          <hr>
        </div>
      </ng-template>


      <div class="text-center">
        <a class="small" routerLink="/sign-up">Create an Account!</a>
      </div>
      <div class="text-center">
        <a class="small" routerLink="/sign-in">Already have an account? Login!</a>
      </div>
    </div>
  </div>
</div>

