<div class="container">
  <div class="row2 justify-content-center">
    <div class="image-block bg-password-image"></div>

    <div class="right-block">
      <div *ngIf="!this.done; then showMailInput else showSuccess"></div>
      <ng-template #showMailInput>
        <div class="text-center">
          <h1 class="text-gray-900 mb-2">Forgot Your Password?</h1>
          <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to
            reset your password!</p>
        </div>
        <form class="form-block" #data="ngForm" (ngSubmit)="forgotPassword(data.value)">
          <div class="form-group">
            <input ngModel type="email" class="input-field" name="email" placeholder="Enter Email Address..." required>
          </div>
          <div class="alert-danger">
            {{userErrors['email']}}
          </div>
          <button type="submit" class="btn" href="reset-password">Send</button>
          <hr>
        </form>
      </ng-template>
      <ng-template #showSuccess>
        <div class="text-center">
          <h1 class="text-gray-900 mb-2">Email sent!</h1>
          <p class="mb-4">
            Wonderful! An email with password reset instructions has been sent to the specified address.
            Please check your inbox and follow those instructions to reset your password.</p>
        </div>
      </ng-template>


      <div class="text-center">
        <a class="small" href="sign-up">Create an Account!</a>
      </div>
      <div class="text-center">
        <a class="small" href="sign-in">Already have an account? Login!</a>
      </div>
    </div>
  </div>
</div>

